{% extends "base.html" %}
{%block title%}
CaffeReviewer
{%endblock%}
{%block style%}
a.hidden_link{
    color: inherit;
    text-decoration: none;
}
{%endblock%}
{% block body %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Cafe ratings!</h1>
            <p class="lead fw-normal text-white-50 mb-0">Choose the city!</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {%for loc in data%}
            {%if loc.display%}
            <div class="col mb-5">
                <div class="card h-100">
                        <div class="text-center">
                            <a href="{% url 'city' loc.name%}" class='hidden_link'><h5 class="fw-bolder">{{loc.name|default:'City name'}}</h5></a>
                        </div>
                    </div>
                </div>
                {%endif%}
                {%endfor%}
            </div>
            
</section>
{%endblock%}